body {
    margin: 0;

    background: url(images/518169-backgrounds.jpg);
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background: rgba(10, 10, 10, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .diffA {

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar .btn {
    padding: 14px 16px;
    float: right;
    display: inline-block;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .btn .diff {
    color: white;
}

.navbar .btn:hover {
    /*color: blue;*/
    background: pink;
}


.container {
    position: absolute;
    top: 53%;
    Left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 73%;
    background: rgba(10, 10, 10, 0.9);
}

.container .nav2 .leftDiv {
    text-align: center;
    font-size: 20px;
    float: left;
    width: 50%;
    background: rgba(100, 100, 100, 0.9);
}

.container .nav2 .rightDiv {
    text-align: center;
    font-size: 20px;
    float: left;
    width: 50%;
    background: rgba(300, 300, 300, 0.9);
}

.container .nav2 .leftDiv .join{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .nav2 .leftDiv .join:hover {
    background: #ff0057;
    border: 2px solid #000000;
}

.container .nav2 .rightDiv .create {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .nav2 .rightDiv .create:hover {
    background: #ff0057;
    border: 2px solid #000000;
}

.container .nav2 .leftDiv h3 {
    text-align: center;
}

.container .nav2 .leftDiv .section_of_classes {
    /*display: inline-block;*/
    /*overflow: auto;*/
    /*max-height: 100vh;*/
    text-align: left;
    padding: 10px 20px;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .nav2 .leftDiv .section_of_classes a {
    color: white;
    font-size: x-large;
}

.container .nav2 .leftDiv .section_of_classes a:hover {
    color: blue;
}

.container .nav2 .rightDiv h3 {
    text-align: center;
}

.container .nav2 .rightDiv .section_of_classes {
    /*display: inline-block;*/
    /*overflow: auto;*/
    /*max-height: 100vh;*/

    text-align: left;
    padding: 10px 20px;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .nav2 .rightDiv .section_of_classes a {
    color: white;
    font-size: x-large;
}

.container .nav2 .rightDiv .section_of_classes a:hover {
    color: blue;
}