body {
    margin: 0;

    background: url(images/518169-backgrounds.jpg);
    background-size: cover;
}

.navbar {
    overflow: hidden;
    background: rgba(10, 10, 10, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {

    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar .btn {
    padding: 14px 16px;
    float: right;
}

.container {
    position: absolute;
    top: 53%;
    Left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: rgba(10, 10, 10, 0.9);
}

.container .nav2 .leftDiv {
    text-align: center;
    font-size: 20px;
    float: left;
    width: 50%;
    background: rgba(100, 100, 100, 0.9);
}

.container .nav2 .rightDiv {
    text-align: center;
    font-size: 20px;
    float: left;
    width: 50%;
    background: rgba(300, 300, 300, 0.9);
}

.container .nav2 .leftDiv .join{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .nav2 .leftDiv .join:hover {
    background: #ff0057;
    border: 2px solid #000000;
}

.container .nav2 .rightDiv .create {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background: #673ab7;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .nav2 .rightDiv .create:hover {
    background: #ff0057;
    border: 2px solid #000000;
}